<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список всех праздничных дней</title>

</head>
<body th:bgcolor="grey">

<style>
    p {
    }

    .black20 {
        font-size: 20px;
        background-color: cadetblue;
        border: 4px solid darkslategrey;
    }
    .black {
        border: 2px solid darkslategrey;
    }
    .button {
        border: 2px solid black;
        font-size: 14px;
        padding: 5px 20px;
    }
</style>

<p th:text="${'Список введенных праздничных дней в году:'}" class="black20" th:align="center">VALUE</p>
<hr/>

<form th:method="POST" th:action="@{/vacations/all_holidays}" th:object="${holidays}">

    <div th:each="element : ${holidays}">
        <td th:text="${#temporals.format(element.getDate(), 'dd MMMM yyyy')}">value</td>
        <input type="checkbox" name="checked" th:value="${element.getDate()}"/>
    </div>

    </br>

    <input th:if="${!holidays.isEmpty()}" type="submit" value="Удалить выбранные праздничные дни" class="button">

    </br>
    </br>

</form>
<form th:method="POST" th:action="@{/vacations/add}" th:object="${#dates}">

    <div>
    <label for="dateAddid" class="black">Введите праздничный день</label>
    <input type="date" id="dateAddid" name="dateAdd" class="black" th:value="${#dates}" min="2022-01-01" max="2025-12-31" data-th-color="red"/>

    </br>
    </br>

    <input type="submit" value="Добавить праздничный день" class="button">
    </div>
</form>

</br>
<hr/>
<a th:href="@{/vacations}">Назад к стартовой странице</a>

</body>

</html>