<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выбор сотрудников</title>
</head>
<body th:bgcolor="grey">

<style>
    p {
    }

    .black20 {
        font-size: 20px;
        background-color: cadetblue;
        border: 4px solid darkslategrey;
    }

    .red20 {
        color: darkred;
        font-size: 20px;
    }

    .button {
        border: 2px solid black;
        font-size: 14px;
        padding: 5px 20px;
    }

</style>

<p class="black20" th:align="center">Выберите сотрудников для сравнения:</p>

<p th:if="${employees==null}" th:align="center" class="red20">
    Отсутвуют данные для сравнения. Файл с отпусками не загружен, либо не является валидным.
    <a th:href="@{/vacations/sample}" class="black15">Образец графика отпусков</a>
</p>

<form th:method="POST" th:action="@{/vacations/result}" th:object="${employees}">

    <div th:each="employee : ${employees}">
        <td th:text="${employee.getName()}">value</td>
        <input type="checkbox" name="checked" th:value="${employee.getName()}"/>
    </div>

    </br>

    <input type="submit" value="Сравнить" class="button">

    </br>

</form>

</br>
<hr/>

<div th:align="center">
    <a th:href="@{/vacations}">Назад к стартовой странице</a>
</div>

</body>
</html>