<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все отпуска</title>
</head>
<body th:bgcolor="grey">

<style>
    p {
    }

    .black25 {
        font-size: 25px;
        text-decoration: underline;
        background-color: grey;
    }
</style>

<p class="black25" th:align="center">Загруженные отпуска сотрудников</p>

<table th:border="1" th:bgcolor="cadetblue" th:align="center">
    <tr>
        <td th:width="280" th:height="30" th:align="center">Фамилия, имя, отчество сотрудника</td>
        <td th:width="500" th:align="center">Данные об отпусках</td>
    </tr>
    <th:block th:each="employee : ${employees}">
        <tr>
            <td th:text="${employee.getName()}" th:height="30" th:align="center">value</td>

            <td th:height="60" th:align="center">
                <p th:each="vacation : ${employee.getVacationList()}"
                   th:text="${vacation.toString()}">value</p>
            </td>

        </tr>
    </th:block>
</table>

</br>
<hr/>

<div th:align="center">
    <a th:href="@{/vacations}">Назад к стартовой странице</a>
</div>

</body>
</html>